body {
  background-color: rgba(24, 24, 27);
  color: rgb(255, 255, 255);
}
.logo {
  width: 132px;
  height: 39px;
  background-image: url(https://www.bithumb.com/resources/img/sprite/sp_main_new.png?v=bithumb.2.0.5);
  background-repeat: no-repeat;
  margin: 50px auto;
  cursor: pointer;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.redColor span {
  color: #f75467;
}
.blueColor span {
  color: #4386f9;
}
.container section .item_box {
  width: 45%;
  height: 500px;
  border: 1px solid;
  padding: 15px;
}
.container section .item_box .item {
  overflow: auto;
  height: 90%;
}
.container section .item_box .item table {
  width: 100%;
}
.coinEngName {
  font-size: 12px;
  margin-left: 22px;
  color: grey;
}
